simpleTypes-2.2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/SergeyZatula/Reforestation/blob/main/simpleTypes-2.2.1.xsd"
    xmlns:tns="https://github.com/SergeyZatula/Reforestation/blob/main/simpleTypes-2.2.1.xsd">

    <xs:simpleType name="PositiveDecimalSType">
        <xs:annotation>
            <xs:documentation>Положительное число</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimalOneSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 1 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimalTwoSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 2 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimalThreeSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 3 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimalFourSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 4 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimalSixSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 6 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Positive100DecimalOneSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 100 до 1 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Positive100DecimalTwoSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 100 до 2 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Positive1000DecimalTwoSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 1000 до 2 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1000"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveOneFiveDecimalTwoSType">
        <xs:annotation>
            <xs:documentation>Положительное число от 1 до 5 до 2 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveSType">
        <xs:annotation>
            <xs:documentation>Положительное целое число</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Positive120SType">
        <xs:annotation>
            <xs:documentation>Целое число от 0 до 120</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Positive500SType">
        <xs:annotation>
            <xs:documentation>Целое число от 0 до 500</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDirectionSType">
        <xs:annotation>
            <xs:documentation>Положительное целое число для уклона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QuarterNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер квартала</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:[0-9]{1,3}:\d+:\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationUnitNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер лесотаксационного выдела</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:[0-9]{1,3}:\d+:\d+:\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearcutNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер лесосеки</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:[0-9]{1,3}:\d+:\d+:ЛС[1-9]\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearcutAgriNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер лесосеки на ЗСН</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:ЗСН:\d+:ЛС[1-9]\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ObjectNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер объекта</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:[0-9]{1,2}:(ЛДП|ЛДС)\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ForestSteadNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер лесного участка</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:[0-9]{1,3}:ЛУ[1-9]\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ForestSteadAgriNumberSType">
        <xs:annotation>
            <xs:documentation>Учетный номер лесного участка на ЗСН</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}:ЗСН:\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JournalIDSType">
        <xs:annotation>
            <xs:documentation>Идентификационный номер документа</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[А-Я]{4}-[0-9]{3}/[1-9]{1}[0-9]{3}-\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegisterNumberSType">
        <xs:annotation>
            <xs:documentation>Регистрационный номер записи в Реестре специалистов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1}-[0-9]{2}-[0-9]{2}-[0-9]{6}-[0-9]{2}/[0-9]{2}-[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositivePercentTwoSType">
        <xs:annotation>
            <xs:documentation>Положительное число до 100 до 2 знаков после запятой</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositivePercentSType">
        <xs:annotation>
            <xs:documentation>Положительное целое число для процента</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BooleanSType">
        <xs:annotation>
            <xs:documentation>Тип Логический (true|false)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="GuidSType">
        <xs:annotation>
            <xs:documentation>Глобальный идентификатор. http://tools.ietf.org/html/rfc4122</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateSType">
        <xs:annotation>
            <xs:documentation>Тип Дата в формате ГГГГ-ММ-ДД (2100-01-01 - 1900-01-01)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:minInclusive value="1900-01-01"/>
            <xs:maxInclusive value="2100-01-01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateYearSType">
        <xs:annotation>
            <xs:documentation>Тип Дата в формате ГГГГ (2100 - 1900)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYear">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTimeSType">
        <xs:annotation>
            <xs:documentation>Тип Дата и время в формате ГГГГ-ММ-ДДTЧЧ:ММ:СС (2100-01-01T00:00:00 -
                1900-01-01T00:00:00)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:maxInclusive value="2100-01-01T00:00:00"/>
            <xs:minInclusive value="1900-01-01T00:00:00"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String8SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 8 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String12SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 12 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String16SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 16 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String20SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 20 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String25SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 25 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String50SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 50 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String60SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 60 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String128SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 128 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String255SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 255 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String256SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 256 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String1000SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 1000 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String4000SType">
        <xs:annotation>
            <xs:documentation>Тип Строка длиной от 1 до 4000 символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrganizationOgrnSType">
        <xs:annotation>
            <xs:documentation>Тип ОГРН российской организации</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
            <xs:pattern value="[0-9]{13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrivatePersonInnSType">
        <xs:annotation>
            <xs:documentation>Тип ИНН физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrivatePersonSnilsSType">
        <xs:annotation>
            <xs:documentation>Тип СНИЛС физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SoleProprietorOgrnSType">
        <xs:annotation>
            <xs:documentation>Тип ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="[0-9]{15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrganizationNameFullSType">
        <xs:annotation>
            <xs:documentation>Тип Полное наименование юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="tns:String1000SType"/>
    </xs:simpleType>
    <xs:simpleType name="OrganizationInnSType">
        <xs:annotation>
            <xs:documentation>Тип ИНН российского юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrganizationKppSType">
        <xs:annotation>
            <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})|0)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ForeignOrganizationRegNumberSType">
        <xs:annotation>
            <xs:documentation>Тип Регистрационый номер иностранного юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="tns:String50SType"/>
    </xs:simpleType>
    <xs:simpleType name="ForeignOrganizationInnSType">
        <xs:annotation>
            <xs:documentation>Тип ИНН иностранного юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="tns:String50SType"/>
    </xs:simpleType>
    <xs:simpleType name="ForeignOrganizationKioSType">
        <xs:annotation>
            <xs:documentation>Код иностранной организации</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="5"/>
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmailSType">
        <xs:annotation>
            <xs:documentation>Тип Адрес электронной почты</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
            <xs:pattern value="\c+@\c+\.\c+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumberSType">
        <xs:annotation>
            <xs:documentation>Телефон</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="((\+[0-9]+)?\s*\([0-9]{3}\))?\s*([0-9][-0-9]{0,13})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCodeSType">
        <xs:annotation>
            <xs:documentation>Тип Символьный код валюты вносимых денежных средств в соответствии с Общероссийским классификатором валют.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MoneySType">
        <xs:annotation>
            <xs:documentation>Тип Денежные суммы</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BikSType">
        <xs:annotation>
            <xs:documentation>Тип БИК банка 9 цифр</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountNumberSType">
        <xs:annotation>
            <xs:documentation>Тип Номер расчетного и корренспондентского счета 20 цифр</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="20"/>
            <xs:pattern value="[0-9]{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LongIdentitySType">
        <xs:annotation>
            <xs:documentation>Тип идентификатор</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long"/>
    </xs:simpleType>
    <xs:simpleType name="BankName">
        <xs:annotation>
            <xs:documentation>Наименование ТОФК, структурного подразделения кредитной организации или подразделения Банка России, в котором открыт счет</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
            <xs:pattern value="[^\s]+(\s+[^\s]+)*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
